<!DOCTYPE html>
<head>
    <title>Plantify</title>
</head>
    <body>
        <h1>Plantify</h1>
        <p>Upload your plant image</p>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <button type="submit">Classify</button>
        </form>

        {% if display_image %}
        <div>
            <h2>Uploaded Image</h2>
            <img src={{display_image}} width="480" height="480">
        </div>
        {% endif %}

        {% if prediction %}
        <div>
            <p>This is a <span>{{prediction}}</span></p>
        </div>
        {% endif %}
    </body>
</html>