<!DOCTYPE html>
<head>
    <title>Plantify</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
    <body>
        <div class="flex-class">
            <div>
                <h1>Plantify</h1>
                <p>Upload your plant image</p>
                
                <!-- Upload form -->
                <form method="POST" enctype="multipart/form-data">
                    <input type="file" name="image" required>
                    <button type="submit">Classify</button>
                </form>

                {% if display_image %}
                <div>
                    <h2>Uploaded Image</h2>
                    <img src={{display_image}} width="360" height="360">
                </div>
                {% endif %}
            </div>

            <!-- Top 3 predictions -->
          <div class="prediction-class">
                {% if prediction %}
                    <h2>Predictions</h2>
                    <p>{{prediction[0]["name"]}} — Confidence: {{prediction[0]["score"]}}</p>
                    <p>{{prediction[1]["name"]}} — Confidence: {{prediction[1]["score"]}}</p>
                    <p>{{prediction[2]["name"]}} — Confidence: {{prediction[2]["score"]}}</p>
                {% endif %}
            </div>

        </div>
    </body>
</html>